* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.3rem;
  color: #FFFFFFEC;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, rgba(77, 212, 224, 0.56) 14%, #4dd4e0 64%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #4c4e61 14%,#704f75 64%);
}
::-webkit-scrollbar-track{
  background: #061623;
}


#mainContainer {
  width: 100%;
  height: fit-content;
  min-height: 300vh;
  padding: 1rem;
  background-color: #061623;
}

/* Style for logo */

#logo {
  width: 20%;
  height: fit-content;
  margin-left: 40%;
  margin-top: 4rem;
  font-size: 10rem;
  font-style: italic;
  text-align: center;
  color: #061623;
  letter-spacing: 0.8rem;
  text-shadow: 0 0 100px #28dee6;
  -webkit-text-stroke: 2px #28dee6;
  animation: textRolling 1.5s ease, glowingTextNeon 4s linear infinite alternate;

  hr {
    border: 1px solid #28dee6;
    box-shadow: 0 0 8px #28dee6;
    animation: glowingNeon 4s linear infinite alternate;
  }
}


/* animation for logo */

@keyframes textRolling {
  from {
    letter-spacing: -2.6rem;
    width: 2%;
    margin-left: 49%;
  }

  to {
    letter-spacing: 0.8rem;
    width: 20%;
    margin-left: 40%;
  }
}

@keyframes glowingTextNeon {
  from {
    text-shadow: 0 0 50px #28dee6;

  }
  to {
    text-shadow: 0 0 100px #28dee6;

  }
}

@keyframes glowingNeon {
  from {
    box-shadow: 0 1px 50px #28dee6;
  }
  to {
    box-shadow: 0 1px 100px #28dee6;
  }
}

#presentContainer, #studyContainer {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20vh;
}

#studyContainer {
  margin-top: 20vh;
}

/* Here is where I apply style for ALL cube */

.cubeContainer {
  width: 30%;
  height: 100%;
  perspective: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;

    .cube {
    width: 15rem;
    height: 15rem;
    position: relative;
    transform-style: preserve-3d;
    animation: animatedCube 10s infinite linear;

      .face {
        position: absolute;
        width: 15rem;
        height: 15rem;
    }

      /* Cubes's build */
      .front {
      transform: rotateX(0deg) translateZ(7.5rem);
    }

      .back {
      transform: rotateX(-180deg) translateZ(7.5rem);
    }

      .left {
      transform: rotateY(-90deg) translateZ(7.5rem);
    }

      .right {
      transform: rotateY(90deg) translateZ(7.5rem);
    }

      .top {
      transform: rotateX(90deg) translateZ(7.5rem);
    }

      .bottom {
      transform: rotateX(-90deg) translateZ(7.5rem);
    }

  }

}

/* Cube's animation */
@keyframes animatedCube {

  from {
    transform: rotateX(0deg) rotateY(0deg);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 30px;
  box-shadow: inset 6px 6px 10px rgba(139, 176, 178, 0.46), inset -6px -6px 10px rgba(139, 176, 178, 0.17);
  perspective: 50rem;

  p {
    width: 60%;
    height: fit-content;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 4rem;
    transform-style: preserve-3d;
    transform: translateZ(10rem);
    text-shadow: 12px 12px 10px black;
  }
}

#studyPresentation {
  width: 60%;
  height: 100%;
  padding: 2rem;

  h2 {
    font-size: 5rem;
  }

  p {
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #061623;

    &:hover {
      color: #FFFFFFEC;
    }
  }
}

